:root {
   --bs-primary: #bb7777;
  --bs-secondary: #ffe6ac;
  --bs-primary-rgb: 187, 119, 119;
  --bs-secondary-rgb: 255, 230, 172;
  --bs-dark: rgb(63, 31, 85);
  --bs-warning: #0dcaf0;
  --bs-dark-rgb: 34, 34, 34;
  --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
}
 
/* styling skip link  */
 
  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 8px;
    z-index: 100;
  }
    
  .skip-link:focus {
    top: 0;
  } 

  /* styling navigation hover and focus  */
  .navbar-dark .navbar-nav .nav-link {
    color: var(--bs-primary);
    font-size: 1.25rem;
    padding: 1rem;
  }
  
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .show>.nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--bs-dark);
    background-color: var(--bs-secondary);
  }
  
  /* custom text and container size of main images in home page  */

  @media screen and (max-width: 1200px) {
        .site-header  {
      font-size:55px;
    }
  }

  @media screen and (max-width: 750px) {
    .carousel-caption h5, p {
      font-size: smaller;
    }
    .site-header  {
      font-size:25px;
    }
    .carousel-caption {
      max-height: 20%;
    }    
  }

  @media screen and (max-width: 650px) {    
    .carousel-caption {
      max-height: 30%;
    }
    /* resizing site logo in small screens */
    .site-logo {
      max-width: 75%;
    }    
  }
